/* Layout */
#CybotCookiebotDialogDetailFooter {
  display: none;
}

/* Text content */
.CybotCookiebotDialogDetailBodyContentCookieTypeTableContainer {
  display: none !important;
}

/* Cookies categories tabs */
#CybotCookiebotDialogDetailBodyContentCookieContainerUnclassified {
  display: none !important;
}
