/* Cookiebot CMP branding */
a#CybotCookiebotDialogPoweredbyCybot,
div#CybotCookiebotDialogPoweredByText {
  display: none !important;
}

/* Layout */
#CybotCookiebotDialogDetailFooter {
  display: none !important;
}

/* Cookie detail list */
.CybotCookiebotDialogDetailBodyContentCookieTypeTableContainer {
  display: none !important;
}

/* Cookies categories tabs */
#CybotCookiebotDialogDetailBodyContentCookieContainerUnclassified {
  display: none !important;
}

/* Cookie category toggle */
.CybotCookiebotDialogDetailBodyContentCookieContainerButton::before {
  display: none !important;
}

/* Cookie count */
.CybotCookiebotDialogDetailBulkConsentCount {
  display: none !important;
}
